   <div style="background-color: gainsboro">
        <div style="z-index:1" class="home-image"> 
                <div style="z-index:2;position:relative;width:100%;top:250px;"> 
                    <app-search-form></app-search-form>
                </div>
            </div>
   </div>


  <div  class="column1">
      <br>
      <br>
      <br>
       <div>
            <p class="inner-para"style="text-align: center"><i class='fas fa-briefcase' style='font-size:100px'></i><br>
                <p style="text-align:center">Your one stop destination to find all professional consultants and freelancers</p>
       </div>
        

  </div>
  <div  class="column2">
      <br>
      <div>
            <p class="inner-para"style="text-align: center"><i class='fas fa-tags' style='font-size:100px'></i><br>
                <p style="text-align:center">Are you a consultant/freelancer?Not listed here?<br><a routerLink="/register" routerLinkActive="active" style="color:azure">Click here to register</a></p>
      </div>
        

  </div>
    